body {
  background: black;
  color: white;
  font-family: monospace;
}

button, select {
  background: black;
  color: white;
}

.ratio-card {
  border: 1px solid white;
  padding: 0.5rem;
  flex: 1 1 calc(33.33% - 0.5rem);
}

.ratio-card.pinned {
  border-color: cyan;
}
